* {
    margin: 0;
    padding: 0;
}

img {
    margin: left;
    padding: 0%;
    display: flex;
    border-radius: 40px;
}

p {
    display: flex;
    justify-content: center;
    margin-left: 50rem;
    width: 40px;

}